* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*página*/
body {
    background-color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    position: relative;
    width: 350px;
    height: 350px;
}
/*Base del hongo*/
.mushroom {
    position: relative;
    width: 240px;
    height: 280px;
    margin: 0 auto;
}

/*Cabeza del hongo*/
.cap {
    position: absolute;
    width: 240px;
    height: 180px;
    background-color: #FF0000;
    border-radius: 120px 120px 50px 50px;
    top: 0;
    left: 0;
    border: 5px solid #000;
    
}

/*Puntos blancos*/
.spots {
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #000;
    z-index: 2;
}
/*Punto central*/
.spot1 {
    width: 85px;
    height: 100px;
    top: 25px;
    left: 75px;
    border-radius: 50%;
}

/*Puntos de al lado de la cabeza*/
.spot2 {
    width: 40px;
    height: 90px;
    top: 55px;
    left: 0px;
    border-radius: 50%;
    transform: rotate(8deg);
}

.spot3 {
    width: 45px;
    height: 90px;
    top: 50px;
    right: 0px;
    border-radius: 50%;
    transform: rotate(-10deg);
}
*Cara del hongo*/
.face {
    position: absolute;
    width: 180px;
    height: 130px;
    background-color: #F5DEB3;
    border-radius: 90px 90px 80px 80px;
    bottom: 20px;
    left: 30px;
    border: 5px solid #000;
    z-index: 1;
}

