* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*página*/
body {
    background-color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    position: relative;
    width: 350px;
    height: 350px;
}
